<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shenchao.mapper.BbsOrderMapper" >
  <resultMap id="BaseResultMap" type="com.shenchao.entity.BbsOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="oid" property="oid" jdbcType="VARCHAR" />
    <result column="deliver_fee" property="deliverFee" jdbcType="DECIMAL" />
    <result column="payable_fee" property="payableFee" jdbcType="DOUBLE" />
    <result column="total_price" property="totalPrice" jdbcType="DOUBLE" />
    <result column="payment_way" property="paymentWay" jdbcType="BIT" />
    <result column="payment_cash" property="paymentCash" jdbcType="BIT" />
    <result column="delivery" property="delivery" jdbcType="BIT" />
    <result column="isConfirm" property="isconfirm" jdbcType="BIT" />
    <result column="is_paiy" property="isPaiy" jdbcType="BIT" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, oid, deliver_fee, payable_fee, total_price, payment_way, payment_cash, delivery, 
    isConfirm, is_paiy, state, create_date, note, buyer_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shenchao.entity.BbsOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bbs_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bbs_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bbs_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shenchao.entity.BbsOrderExample" >
    delete from bbs_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shenchao.entity.BbsOrder" >
    insert into bbs_order (id, oid, deliver_fee, 
      payable_fee, total_price, payment_way, 
      payment_cash, delivery, isConfirm, 
      is_paiy, state, create_date, 
      note, buyer_id)
    values (#{id,jdbcType=INTEGER}, #{oid,jdbcType=VARCHAR}, #{deliverFee,jdbcType=DECIMAL}, 
      #{payableFee,jdbcType=DOUBLE}, #{totalPrice,jdbcType=DOUBLE}, #{paymentWay,jdbcType=BIT}, 
      #{paymentCash,jdbcType=BIT}, #{delivery,jdbcType=BIT}, #{isconfirm,jdbcType=BIT}, 
      #{isPaiy,jdbcType=BIT}, #{state,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{note,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shenchao.entity.BbsOrder" >
    insert into bbs_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oid != null" >
        oid,
      </if>
      <if test="deliverFee != null" >
        deliver_fee,
      </if>
      <if test="payableFee != null" >
        payable_fee,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="paymentWay != null" >
        payment_way,
      </if>
      <if test="paymentCash != null" >
        payment_cash,
      </if>
      <if test="delivery != null" >
        delivery,
      </if>
      <if test="isconfirm != null" >
        isConfirm,
      </if>
      <if test="isPaiy != null" >
        is_paiy,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="deliverFee != null" >
        #{deliverFee,jdbcType=DECIMAL},
      </if>
      <if test="payableFee != null" >
        #{payableFee,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="paymentWay != null" >
        #{paymentWay,jdbcType=BIT},
      </if>
      <if test="paymentCash != null" >
        #{paymentCash,jdbcType=BIT},
      </if>
      <if test="delivery != null" >
        #{delivery,jdbcType=BIT},
      </if>
      <if test="isconfirm != null" >
        #{isconfirm,jdbcType=BIT},
      </if>
      <if test="isPaiy != null" >
        #{isPaiy,jdbcType=BIT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shenchao.entity.BbsOrderExample" resultType="java.lang.Integer" >
    select count(*) from bbs_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bbs_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.oid != null" >
        oid = #{record.oid,jdbcType=VARCHAR},
      </if>
      <if test="record.deliverFee != null" >
        deliver_fee = #{record.deliverFee,jdbcType=DECIMAL},
      </if>
      <if test="record.payableFee != null" >
        payable_fee = #{record.payableFee,jdbcType=DOUBLE},
      </if>
      <if test="record.totalPrice != null" >
        total_price = #{record.totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.paymentWay != null" >
        payment_way = #{record.paymentWay,jdbcType=BIT},
      </if>
      <if test="record.paymentCash != null" >
        payment_cash = #{record.paymentCash,jdbcType=BIT},
      </if>
      <if test="record.delivery != null" >
        delivery = #{record.delivery,jdbcType=BIT},
      </if>
      <if test="record.isconfirm != null" >
        isConfirm = #{record.isconfirm,jdbcType=BIT},
      </if>
      <if test="record.isPaiy != null" >
        is_paiy = #{record.isPaiy,jdbcType=BIT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=BIT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerId != null" >
        buyer_id = #{record.buyerId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bbs_order
    set id = #{record.id,jdbcType=INTEGER},
      oid = #{record.oid,jdbcType=VARCHAR},
      deliver_fee = #{record.deliverFee,jdbcType=DECIMAL},
      payable_fee = #{record.payableFee,jdbcType=DOUBLE},
      total_price = #{record.totalPrice,jdbcType=DOUBLE},
      payment_way = #{record.paymentWay,jdbcType=BIT},
      payment_cash = #{record.paymentCash,jdbcType=BIT},
      delivery = #{record.delivery,jdbcType=BIT},
      isConfirm = #{record.isconfirm,jdbcType=BIT},
      is_paiy = #{record.isPaiy,jdbcType=BIT},
      state = #{record.state,jdbcType=BIT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      note = #{record.note,jdbcType=VARCHAR},
      buyer_id = #{record.buyerId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shenchao.entity.BbsOrder" >
    update bbs_order
    <set >
      <if test="oid != null" >
        oid = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="deliverFee != null" >
        deliver_fee = #{deliverFee,jdbcType=DECIMAL},
      </if>
      <if test="payableFee != null" >
        payable_fee = #{payableFee,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="paymentWay != null" >
        payment_way = #{paymentWay,jdbcType=BIT},
      </if>
      <if test="paymentCash != null" >
        payment_cash = #{paymentCash,jdbcType=BIT},
      </if>
      <if test="delivery != null" >
        delivery = #{delivery,jdbcType=BIT},
      </if>
      <if test="isconfirm != null" >
        isConfirm = #{isconfirm,jdbcType=BIT},
      </if>
      <if test="isPaiy != null" >
        is_paiy = #{isPaiy,jdbcType=BIT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shenchao.entity.BbsOrder" >
    update bbs_order
    set oid = #{oid,jdbcType=VARCHAR},
      deliver_fee = #{deliverFee,jdbcType=DECIMAL},
      payable_fee = #{payableFee,jdbcType=DOUBLE},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      payment_way = #{paymentWay,jdbcType=BIT},
      payment_cash = #{paymentCash,jdbcType=BIT},
      delivery = #{delivery,jdbcType=BIT},
      isConfirm = #{isconfirm,jdbcType=BIT},
      is_paiy = #{isPaiy,jdbcType=BIT},
      state = #{state,jdbcType=BIT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>